#header {
  p {
    font-size: 10vh;
    margin-bottom: 1vh;
  }

  @media only screen and (max-device-width: 1023px) {
    p {
      margin-top: 0;
      font-size: 8vh;
    }
  }
}

.list-group-item{
  margin-right: 5rem;
}

.material-icons {
  cursor: pointer;
}
