<app-sidebar>
    <div *ngIf="loading" id="loading">
        <div class="spinner"></div>
        <p>Please wait...</p>
    </div>
    <div *ngIf="!loading">
        <div id="header">
            <p>People in the room 👷</p>
        </div>
        <div *ngIf="error" class="invalid-feedback">
            <div class="invalid bigerror">Failed to sign out user: {{ error }}</div>
        </div>
        <div id="active">
            <ul [@listStagger]="activePeopleService.activePeopleSource.value" class="list-group">
                <li *ngIf="activePeopleService.activePeopleSource.value.length == 0" class="list-group-item">
                    <p id="npf">No active people signed in</p>
                </li>
                <li *ngFor="let entry of activePeopleService.activePeopleSource.value"
                    class="list-group-item d-flex justify-content-between align-items-center">
                    {{ entry.user.firstName }} {{ entry.user.lastName }} - Active
                    since {{ getDateString(entry.timeStarted) }}
                    <span class="badge badge-default badge-pill remove-user" *ngIf="authService.checkMentor()"><i
                            class="material-icons" (click)="removeUser(entry.user)">clear</i></span>
                </li>
            </ul>
        </div>
    </div>
</app-sidebar>
