#active{
  padding-left: 20%;
  padding-top: 2vh;
  padding-right: 20%;
}

.material-icons {
  cursor: pointer;
  font-size: 1rem;
}

#npf{
  width: 100%;
  text-align: center;
}

.remove-user {
  cursor: pointer;

    width: 2rem;
    height: 1.5rem;

}
