<app-sidebar>
<div *ngIf="loading" id="loading">
  <div class="spinner"></div>
  <p>Logging in...</p>
</div>

<div class="container" *ngIf="!loading">
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <div *ngIf="returnUrlSet" class="invalid-feedback">
        <div class="invalid bigerror">You must be logged in to view that page.</div>
      </div>
      <div *ngIf="error" class="invalid-feedback">
        <div class="invalid bigerror">Failed to login; {{ error }}</div>
      </div>
      <label for="email">Email</label>
      <input autocomplete="username" id="email" type="email" formControlName="email" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && loginForm.controls['email'].errors }"/>
      <div *ngIf="submitted && loginForm.controls['email'].errors" class="invalid-feedback">
        <div class="invalid" *ngIf="loginForm.controls['email'].errors.required">Email is required</div>
        <div class="invalid"
             *ngIf="loginForm.controls['email'].invalid && !(loginForm.controls['email'].errors.required)">Email is
          invalid
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input autocomplete="current-password" id="password" type="password" formControlName="password"
             class="form-control" [ngClass]="{ 'is-invalid': submitted && loginForm.controls['password'].errors }"/>
      <div *ngIf="submitted && loginForm.controls['password'].errors" class="invalid-feedback">
        <div class="invalid" *ngIf="loginForm.controls['password'].errors.required">Password is required</div>
      </div>
    </div>
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">Login</button>
    </div>
  </form>
</div>
</app-sidebar>