<div [class.sidebarHidden]="!sidebarDisplayed" class="" id="panel">
    <div id="sidebar">
        <ul class="sidebar-content">
            <li [class.selected]="currentUrl == '/'" class="item">
                <a routerLink="/"><i class="material-icons">home</i>Home</a>
            </li>
            <li [class.selected]="currentUrl == '/top'" class="item">
                <a routerLink="/top"
                ><i class="material-icons">stars</i>Top</a
                >
            </li>
            <li [class.selected]="currentUrl == '/'" class="item">
                <a routerLink="/"><i class="material-icons">exposure_plus_1</i>Sign in</a>
            </li>
        </ul>
    </div>
    <div id="panel-content">
        <div id="heading">
            <button *ngIf="!sidebarDisplayed" (click)="toggleSidebar()" type="button" class="btn btn-primary"><i
                    class="material-icons switch-arrow">arrow_right</i></button>
            <button *ngIf="sidebarDisplayed" (click)="toggleSidebar()" type="button" class="btn btn-primary"><i
                    class="material-icons switch-arrow">arrow_left</i></button>
        </div>
        <div id="content">
            <ng-content></ng-content>
        </div>
    </div>
</div>
